* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    background-color: #f1e3d3;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.container h1 {
    padding-bottom: 20px;
    color: #474448;
}

.review-container {
    width: 400px;
    height: 400px;
    line-height: 2rem;
 
}

.review-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#user-review {
    font-style: italic;
}

button {
    background-color: none;
    border: none;
}

i {
    font-size: 24px;
    color: #5e503f;
    background-color: #f1e3d3;
}